.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;;
}

.button {
    min-width: 160px;
    background-color: #007bff;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}