.quiz-container {
    font-family: Arial, sans-serif;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.question {
    margin-bottom: 20px;
}

.option {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.input {
    margin-right: 10px;
}

.next-btn {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-btn:hover {
    background-color: #0056b3;
}

.correct-answer,
.incorrect-answer {
    margin-top: 10px;
}

.submit-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.navigate-btn {
    max-width: 500px;
    margin: 25px auto;
}

.question-type {
    text-align: center;
}

@media (max-width: 414px) {
    .quiz-container {
        margin: 10px;
        padding: 10px;
    }
}
